<div class="form_search container p-5">
    <form method="post">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Tìm kiếm</label>
            <div class="col-sm-10">
                <input type="search" name="q" placeholder="Bạn cần tìm gì ?" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="row mb-3">
            <label for="gender-input" class="col-sm-2 col-form-label">Select</label>
            <div class="col-sm-10">
                <select name="gender" type="search"  class="form-control" id="inputEmail3">
                    <option value="chọn giới tính">Chọn giới tính</option>
                    <option  value="nam">Nam</option>
                    <option  value="nữ">Nữ</option>
                </select>   
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>